/* for banner */
.img-container img {
    width: 600px;
    height: 400px;
    padding: 0 30px;

}

p a {
    text-decoration: none;
    color: #000;
}

.footer-menu a {
    text-decoration: none;
    color: #8e6a6e;
}

.footer-menu a:hover {
    color: #000;
}










/* Mobile menu styles */
@media (max-width: 768px) {
    .img-container img {
        width: 350px;
        padding: 0 30px;

    }
}