/* for banner */
.img-container img {
    width: 700px;
    height: 400px;
    padding: 0 30px;

}

p a {
    text-decoration: none;
    color: #000;
}

.footer-menu a {
    text-decoration: none;
    color: #ad060998;
}

.footer-menu a:hover {
    color: #000;
}