* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.footer-menu a {
    text-decoration: none;
    color: #851012f9;
    font-size: 18px;
    font-weight: 500;
}



.footer-para {

    color: #AD0609;
    font-size: 18px;
    font-weight: 500;
}


.footer-menu a:hover {
    color: #AD0609;
}